
    .wrapper {
    display: grid;
    grid-template-columns: 100px, 200px, 100px;
    grid-auto-rows: 100px;
}

.review_list {
    list-style-type: none;
}

img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
}

.title {
    color: #0073bb;
    font-size: 14px;
    line-height: 1.28571em;
    font-weight: bold;
}

.location {
    color: lightseagreen;
}